@tailwind base;

@tailwind components;

@tailwind utilities;

/* special styles for battleship svgs */
.battleship {
  fill: steelblue;
  position: absolute;
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
  transform: translate(-20px, -16px) rotate(-3deg);
}
.battleship.small {
  transform: scaleX(-1) scale(0.5) translate(-460px, -16px) rotate(-3deg);
}

/* Text treatments */
.text-skew {
  transform: translate(0%, -30%) skewY(-5deg);
  transform-origin: bottom right;
}
.text-rise {
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .2));
  text-shadow: 1px 1px 0 white,
               2px 2px 0 white,
               3px 3px 0 white,
               4px 4px 0 white,
               5px 5px 0 lightblue;
}
.text-shadow {
  text-shadow: 1px 1px 0 steelblue,
               -0.2px -0.2px 0 steelblue;
}
.text-shadow > li > a:hover {
  text-shadow: 1px 1px 0 steelblue,
               2px 2px 0 steelblue,
               -0.5px -0.5px steelblue;
}

/* outline treatments */
.outline-blue-sm {
  outline: solid steelblue 1px;
}
.outline-blue-md {
  outline: solid steelblue 4px;
}

/* box shadows */
.box-shadow-blue {
  box-shadow: lightblue 8px 8px 0;
}
